/* Increase font-size of all text */
html {
  font-size: 175%;
}

body {
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p,
li,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-spacing: 2.4px;
  line-height: 1.3rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #eee;
  }

  a {
    color: #66aaff;
  }
}

/* Light mode (optional, since it’s the default) */
@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #111;
  }

  a {
    color: #0066cc;
  }
}

ul {
  line-height: 2;
}

li {
  list-style: circle;
}

td {
  padding: 0 2rem 1rem 0;
}
